<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p>{{message}}</p>
        <p v-bind:style="styleA">스타일바인딩</p>
        <p>{{sw}}</p>
        <h3>{{sw?"안녕하세요":"잘가"}}</h3>

        <!-- 디렉티브: v접두사를 가진 모든속성-->
        <b v-bind:id="angel">Have a Nice Day!!!</b>
        <br>
        <a v-if="flag">{{msg}}</a>
        <p v-show="flag">지금 flag는 true 입니다</p>

        <h5>v-for 구문연습</h5>
        <ul>
           <li v-for="(l,i) in lang" :key="i">{{l}}</li>
        </ul>

        <h5>v-on:click 클릭이벤트</h5>
        <button type="button" @click="popupAlert">경고창</button>
    </div>

    <script>
        const app=Vue.createApp({

            data(){

                return{
                    message:'오늘은 vue공부 시작!!',
                    styleA:'color: blue',
                    sw:false,
                    angel:'hello',
                    msg:"오늘은 금요일",
                    flag:true,
                    lang:['Java','Spring','Vue','Html']
                }
            },
            methods:{

                popupAlert(){
                    return alert("경고창 입니다");
                }
            }
        })

        app.mount('#app')
    </script>
    <style>
        h3{background-color: aquamarine;}
        #hello{
            color: purple;
        }
    </style>
</body>
</html>