<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.car.data.CarDao">
	<select id="getAllOfMyCar" resultType="cdto">
		select * from mycar order by num desc
	</select>
	
	<select id="insertOfMyCar" parameterType="cdto">
		insert into mycar (carname,carprice,carcolor,carguip,carwriteday) values (#{carname},#{carprice},#{carcolor},#{carguip},now())
	</select>
	
	<select id="selectOneOfMyCar" parameterType="string" resultType="cdto">
  		select * from mycar where num=#{num}
    </select>
	
	<select id="updateOfMyCar" parameterType="cdto">
		update mycar set carname=#{carname}, carprice=#{carprice}, carcolor=#{carcolor},carguip=#{carguip} where num=#{num}
	</select>
	
	<delete id="deleteOfMyCar" parameterType="string">
  	delete from mycar where num=#{num}
    </delete>
</mapper>