div.lotto{
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-top: 50px;
    border: solid 3px #d34256;
    background-color: #f07499;
    text-align: center;
    line-height: 100px;
    font-size: 3em;
    font-weight: bold;
    color: white;
    border-radius: 100px;
    box-shadow: 10px 10px 10px gray;
    
}