div.lotto{
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-top: 50px;
    text-align: center;
    line-height: 100px;
    font-size: 3em;
    font-weight: bold;
    color: black;
    border-radius: 100px;
    box-shadow: 10px 10px 10px gray;
    float: left;
    
}